@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

:root,
html,
body {
    height: 100%;
    min-width: 340px;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

input[type='checkbox'] + label {
    position: relative;
}

input[type='checkbox'] + label > span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.23, 1);
}

input[type='checkbox']:checked + label > span {
    background-color: #ffeb3b;
    animation: shrink-bounce 200ms cubic-bezier(0.4, 0, 0.23, 1);
}
input[type='checkbox']:checked + label > span:before {
    content: '';
    position: absolute;
    top: 0.5rem;
    left: 0.25rem;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transform-origin: 0% 100%;
    animation: checkbox-check 125ms 250ms cubic-bezier(0.4, 0, 0.23, 1) forwards;
}

@keyframes shrink-bounce {
    0% {
        transform: scale(1);
    }
    33% {
        transform: scale(0.85);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes checkbox-check {
    0% {
        width: 0;
        height: 0;
        border-color: #212121;
        transform: translate3d(0, 0, 0);
    }
    33% {
        width: 0.2rem;
        height: 0;
        transform: translate3d(0, 0, 0);
    }
    100% {
        width: 0.7rem;
        height: 2rem;
        border-color: #212121;
        transform: translate3d(0, -1.5rem, 0) rotate(45deg);
    }
}
